:root/*[data-theme="light"]*/{
  --text: #000000;
  --background: #f3e6d8;
  --primary: #e3cfbb;
  --secondary: #cea984;
  --accent: #674f00;
  --light: #ffffff;
}

/*:root[data-theme="dark"]{
  --text: #ffffff;
  --background: #000000;
  --primary: #d6b89a;
  --secondary: #b8946f;
  --accent: #4d3b00;
  --text-light: #000000;
}*/


/* --------- header  --------- */

.header-top-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background-color:var(--primary);
  margin: 0;
}

.header-top-list div{
  display: flex;
}

.header-top-item {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.header-top-item i{
  padding-right: 10px;
}

.item-title {
  font-weight: bold;
}

.social-list {
  list-style: none;
  display: flex;
  align-items: center;
  
}

.social-link {
  margin-right: 10px;
  color: var(--accent);
  font-size: 20px;
}

.social-link:hover {
  color: var(--accent);
}


.header-bottom {
  background-color: var(--light);
  padding:0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 10px 10px 0px rgba(80, 80, 80, 0.1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  
}

.logo {
  width: 120px;
  height: 120px;
}

.navbar-list {
  list-style: none;
  display: flex;
}

.navbar-link {
  color: var(--text);
  text-decoration: none;
}

.navbar-item ,.user-item, .book-nav{
  padding: 10px;
  margin:0 10px;
  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
  border-radius: 5px;
}

.book-nav {
  position: relative;
  border: 2px solid var(--accent);
  display: inline-block;
  color: var(--accent);
  background: transparent;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 var(--accent); 
  font-weight: bold;
  transition: ease-out 0.5s;
}

.book-nav:hover {
  color: var(--light);
  box-shadow: inset 0 -100px 0 0 var(--accent);
}

.user-item{
  position: relative;
  display: inline-block;
  color: var(--accent);
  border-radius: 50%;
}

.user-item:hover{
  color:var(--secondary);
  font-size: 17px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--background);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 50px;
  right: 0;
  border-radius: 20px;
  overflow: hidden;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: var(--light);
  background-color: var(--secondary);
}

.user-item.active .dropdown-content {
  display: block;
}

.navbar-item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color:var(--secondary);
  transition: 0.5s ease;
}

.navbar-item:hover {
  transition-delay: 0.5s;
}

.navbar-item:hover::before {
  width: 100%;
}

.navbar-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: var(--secondary);
  transition: 0.4s ease;
  z-index: -1;
}

.navbar-item:hover::after {
  transition-delay: 0.4s;
}

.active-link{
  background-color: var(--secondary);
}

.active-link a{
  color: var(--light);
}
